body {
  margin: 10px;
}

/* STYLE FONTS */
@font-face {
  font-family: EditorialNew-Light;
  src: url(fonts/EditorialNew-Light.woff);
  font-family: Founders-Grotesk-Regular;
  src: url(fonts/Founders-Grotesk-Regular.woff);
}

p {
  font-family: Founders-Grotesk-Regular, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0 auto;
}

a {
  font-family: Founders-Grotesk-Regular, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

.fit-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Guias de margenes rosas
.item {
  padding: 0px;
  background-color: white;
  border: 1px solid violet;
} */

/* GRID CONTAINERS & RESPONSIVE */

.grid-container1 {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}
.grid-container2 {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}
.grid-container3 {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 390px;
  gap: 10px;
}
.logo-fetish {
  grid-column: span 6;
}
.studio-description {
  grid-column: 1 / span 5;
  grid-row: 3;
}
.instagram-footer {
  grid-column: 1 / span 1;
  grid-row: 4;
}
.email-footer {
  grid-column: 3 / span 2;
  grid-row: 4;
}

/* Hecho por Eric */
.tech-slideshow > div {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  height: 350%;
  transform: translate3d(0, 0, 0);
}

@keyframes autoplay6 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#slideset1 {
  height: 10em;
  position: relative;
}
#slideset1 > * {
  animation: 14s autoplay6 infinite linear;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#slideset1 > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset1 > *:nth-child(2) {
  animation-delay: 4s;
}
#slideset1 > *:nth-child(3) {
  animation-delay: 8s;
}
#slideset1 > *:nth-child(4) {
  animation-delay: 12s;
}
/* Hecho por Eric */

@media (min-width: 720px) {
  .grid-container3 {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 400px;
    gap: 10px;
  }
  .tech-slideshow > div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    height: 360%;
    transform: translate3d(0, 0, 0);
  }
  .logo-fetish {
    grid-column: span 6;
  }
  .carousel-work {
    grid-column: span 6;
  }
  .studio-description {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
  .instagram-footer {
    grid-column: 4 / span 1;
    grid-row: 3;
  }
  .email-footer {
    grid-column: 5 / span 2;
    grid-row: 3;
  }
}

@media (min-width: 1020px) {
  .grid-container3 {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 400px;
    gap: 10px;
  }
  .tech-slideshow > div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    height: 360%;
    transform: translate3d(0, 0, 0);
  }
  .logo-fetish {
    grid-column: span 6;
  }
  .carousel-work {
    grid-column: span 6;
  }
  .studio-description {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
  .instagram-footer {
    grid-column: 4 / span 1;
    grid-row: 3;
  }
  .email-footer {
    grid-column: 5 / span 2;
    grid-row: 3;
  }
}

@media (min-width: 1340px) {
  .grid-container3 {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 340px;
    gap: 10px;
  }
  .tech-slideshow > div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    height: 320%;
    transform: translate3d(0, 0, 0);
  }
  .logo-fetish {
    grid-column: span 6;
  }
  .carousel-work {
    grid-column: span 6;
  }
  .studio-description {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
  .instagram-footer {
    grid-column: 4 / span 1;
    grid-row: 3;
  }
  .email-footer {
    grid-column: 5 / span 2;
    grid-row: 3;
  }
}
