/* STYLE FONTS */
@font-face {
  font-family: EditorialNew-Light;
  src: url(fonts/EditorialNew-Light.woff);
  font-family: Founders-Grotesk-Regular;
  src: url(fonts/Founders-Grotesk-Regular.woff);
}

p {
  font-family: Founders-Grotesk-Regular, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0 auto;
}

/* Link & HOVER LINK*/
a {
  font-family: Founders-Grotesk-Regular, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.15rem;
  color: black;
}

.link-hover-animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.link-hover-animation:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 0;
  border-bottom: 2px solid black;
  transition: 0.44s;
}
.link-hover-animation:hover:after {
  width: 99%;
}

.fit-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Guias de margenes rosas
.item {
  padding: 0px;
  background-color: white;
  border: 1px solid violet;
} */

/* GRID CONTAINERS & RESPONSIVE */
.principal-grid-container {
  position: relative;
  height: 100vh;
  -webkit-animation: fade-in 3s ease, slide-in 3s ease;
}
.grid-container1 {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}
.grid-container2 {
  display: grid;
  height: 50vh;
  width: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}
.grid-container3 {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  margin-top: 5px;
}

/* Mobile */
@media (min-width: 375px) {
  .logo-fetish {
    grid-column: span 6;
  }
  .studio-description {
    grid-column: 1 / span 5;
    grid-row: 3;
  }
  .instagram-footer {
    grid-column: 1 / span 1;
    grid-row: 4;
    margin-top: 20px;
  }
  .email-footer {
    grid-column: 3 / span 2;
    grid-row: 4;
    margin-top: 20px;
  }

  .tech-slideshow > div {
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translate3d(0, 0, 0);
  }
}

/* Tablet */
@media (min-width: 720px) {
  .logo-fetish {
    grid-column: span 6;
  }
  .studio-description {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
  .instagram-footer {
    grid-column: 4 / span 1;
    grid-row: 3;
    text-align: right;
    margin-top: 0;
  }
  .email-footer {
    grid-column: 5 / span 2;
    grid-row: 3;
    text-align: right;
    margin-top: 0;
  }

  .grid-container2 {
    display: grid;
    height: 65vh;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .tech-slideshow > div {
    height: 65vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 1020px) {
  body {
    margin: 15px;
  }
  .logo-fetish {
    grid-column: span 6;
  }
  .studio-description {
    grid-column: 1 / span 4;
    grid-row: 3;
  }
  .instagram-footer {
    grid-column: 8 / span 2;
    grid-row: 3;
    text-align: right;
  }
  .email-footer {
    grid-column: 10 / span 3;
    grid-row: 3;
    text-align: right;
  }

  .grid-container2 {
    display: grid;
    height: 60vh;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .grid-container3 {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    margin-top: 5px;
  }

  .tech-slideshow > div {
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 1340px) {
  body {
    margin: 15px;
  }
  .logo-fetish {
    grid-column: span 6;
  }
  .studio-description {
    grid-column: 1 / span 4;
    grid-row: 3;
  }
  .instagram-footer {
    grid-column: 9 / span 2;
    grid-row: 3;
    text-align: right;
  }
  .email-footer {
    grid-column: 11 / span 2;
    grid-row: 3;
    text-align: right;
  }

  .grid-container2 {
    display: grid;
    height: 55vh;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .grid-container3 {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    margin-top: 5px;
  }

  .tech-slideshow > div {
    height: 55vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translate3d(0, 0, 0);
  }
}

/* Animacion */
@keyframes slide-in {
  0% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes autoplay6 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#slideset1 {
  height: 10em;
  position: relative;
}
#slideset1 > * {
  animation: 16s autoplay6 infinite linear;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#slideset1 > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset1 > *:nth-child(2) {
  animation-delay: 4s;
}
#slideset1 > *:nth-child(3) {
  animation-delay: 8s;
}
#slideset1 > *:nth-child(4) {
  animation-delay: 12s;
}
